<!DOCTYPE html>
<html lang="en" >
<head> 

<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
</head>
<body>


<h1>Budgtr ALL</h1>
<div class="container">


<table>
    <thead>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
    </thead>
   <tbody>
    <% for (let budget in budgets){ %>
         
    <tr>
        <td><%=budgets[budget].date %></td>
       <td><a href="/budget/<%=budget %>"><%=budgets[budget].name %></a></td> 
        <td><%=budgets[budget].amount %></td>
    </tr>
        
    <% } %>
    </tbody>
</table>
<a href="/budget/new"><button type="button">Add New Item</button></a>
</div>
</body>
</html>